.containerGrid{
    height: auto;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 1fr);
}


.card-unique{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    background-color: #dfecf5;
    margin: 25px;
}


.notfound {
    text-align: center;
}

.links{color:var(--clr-grey-5)}


@media screen and (max-width: 768px) {
    .containerGrid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .containerGrid{
        grid-template-columns: repeat(1, 1fr);
    }
}