.layout{
    width: 50vw;
    height: auto;
    background-color: wheat;
}

.link {
    text-decoration: none;
    color: darkblue;
}

.layout-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}



.title {
    margin-bottom: 1rem;
}

.post-card {
    text-align: left;
    font-family: "Raleway";
    border: 1px solid lightblue;
    margin-bottom: 20px;
    padding: 0 20px;
    height: auto;
}


.thumbnail {
    padding: 10px;
}