/*
=============== 
Variables
===============
*/
:root {

  /* Colors: */
  --clr-primary-5: hsl(205, 78%, 60%);
  ---cardBackground: #DCDCDC;
  --unnamed-color-707070: #707070;
  --border-color-8eb0c5: #8EB0C5;
  --button-Backgroungcolor-47555e: #47555E;
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-white: #fff;
  --clr-primary-8: hsl(205, 86%, 81%);
  /*shadow*/
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
/*fonction*/
--transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.45rem;
} 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

