  
  .photos-center {
    margin: 0 auto;
    display: grid;
    gap: 2rem;
  }
  .photo {
    /*height: 17.5rem;*/
    position: relative;
    overflow: hidden;
  }
  .photo > img {
    display: block;
    object-fit: cover;
  }
  .photo-info h4 {
    margin-bottom: 5px;
  }

  .user-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
  .photo-info {
    position: absolute;
    width: 100%;
    padding-left: 1rem;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    color: var(--clr-white);
    transform: translateY(100%);
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
  }
  .photo:hover .photo-info {
    transform: translateY(0);
  }
  @media screen and (min-width: 576px) {
    .photos-center {
      grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    }
  .container{
    display: grid;
    grid-template-columns: 75% , 25%;
  }
  .grid-images{
    grid-column: 1;
    margin-left: 2rem;
  }
 
}